{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <main class="container">
        <h1>Accueil</h1>
        <div>Nombre de contacts: <b>{{ contacts }}</b></div>
        <br />
        <div>
            <a href="/" role="button">Accueil</a>
            <a href="/dashboard" role="button">Tableau de bord</a>
        </div>
    </main>
    </body>
{% endblock %}